body {
    box-sizing: border-box;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    .col-xl-auto {
        padding-left: 0px;
    }
    .body__container {
        margin-left: 0px;
        height: 100%;
        width: 100%;
        .header {
            display: flex;
            padding-left: 0px !important;
            padding-right: 0px !important;
            height: 5rem;
            margin-left: 0px;
            .header__blank {
                height: 100%;
                margin-left: 0px;
                background-color: aqua;
            }
            .header__account {
                height: 100%;
                margin-left: 0px;
                background-color: green;
            }
            .header__left {
                height: 100%;
                left: 0px;
                background-color: blue;
                .left__img {
                    height: 100%;
                    img {
                        position: relative;
                        transform: scale(0.5, 0.5);
                    }
                }
                .left__menu-icon {
                    height: 100%;
                }
            }
        }
    }
}