body {
    background-color: #eaeef3;
    box-sizing: border-box;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    .col-xl-auto {
        padding-left: 0px;
    }
    .body__container {
        margin-left: 0px;
        height: 100%;
        width: 100%;
        .header {
            display: flex;
            padding-left: 0px !important;
            padding-right: 0px !important;
            height: 3.75rem;
            margin-left: 0px;
            box-shadow: gray -2px 2px 5px;
            background-color: white;
            z-index: 9999;
            .header__blank {
                height: 100%;
                margin-left: 0px;
                .icon-container-icon {
                    height: 100%;
                    position: relative;
                    display: flex;
                    vertical-align: middle;
                    align-items: center;
                    justify-content: left;
                    font-size: 1.25em;
                    color: gray;
                    i {
                        cursor: pointer;
                    }
                }
            }
            .header__account {
                height: 100%;
                margin-left: 0px;
                display: flex;
                padding-left: 0px !important;
                padding-right: 0px !important;
                .account__zoom-button {
                    height: 100%;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    display: flex;
                    .button__zoom-button {
                        height: 100%;
                        padding-left: 0px!important;
                        padding-right: 0px !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            transform: scale(1.1, 1.1);
                            color: #007bff;
                        }
                    }
                }
                .account__user {
                    height: 100%;
                    padding-left: 0px !important;
                    padding-right: 0px !important;
                    .account__account-container {
                        height: 100%;
                        padding-left: 0px!important;
                        padding-right: 0px !important;
                        .user__img-container {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            .img-container__img {
                                height: 53%;
                                vertical-align: middle;
                                border-radius: 100% 100% 100% 100%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    border-radius: 100% 100% 100% 100%;
                                }
                            }
                            .img-container__account-text {
                                cursor: pointer;
                                i {
                                    transform: scale(0.8, 0.8);
                                }
                            }
                        }
                        .user__dropdown-option {
                            display: none;
                            height: fit-content;
                            width: 85%;
                            background-color: #fff;
                            box-shadow: #555 1px 1px 5px;
                            z-index: 99999;
                            ul {
                                list-style: none;
                                padding-left: 10%;
                                li {
                                    color: #555;
                                    line-height: 200%;
                                    hr {
                                        width: 95%;
                                        margin: auto;
                                        color: white;
                                        margin-left: -2%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header__left {
                height: 100%;
                left: 0px;
                // background-color: blue;
                .left__img {
                    height: 100%;
                    margin-left: 0px;
                    padding-left: 0px !important;
                    margin: auto;
                    .img__imge-container {
                        height: 100%;
                        width: fit-content;
                        margin: auto;
                        display: flex;
                        vertical-align: middle;
                        align-items: center;
                        cursor: pointer;
                        img {
                            height: 45%;
                            width: 100%;
                            transform: scale(1.1, 1.1);
                        }
                    }
                }
                .left__menu-icon-container {
                    height: 100%;
                }
            }
        }
        .body__main-container {
            height: 100%;
            background-color: #007bff;
            display: flex;
            padding-left: 0px!important;
            padding-right: 0px!important;
            .sidebar {
                height: 100%;
                background-color: #66ff00;
                .sidebar__menu {
                    height: 100%;
                    width: 100%;
                    .menu__dropdown-list {
                        list-style: none;
                        cursor: pointer;
                        li {
                            background-color: inherit;
                            ul {
                                background-color: inherit;
                                border: none;
                                & li:hover {
                                    background-color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}