body {
  background-color: #eaeef3;
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body .col-xl-auto {
  padding-left: 0px;
}
body .body__container {
  margin-left: 0px;
  height: 100%;
  width: 100%;
}
body .body__container .header {
  display: flex;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 3.75rem;
  margin-left: 0px;
  box-shadow: gray -2px 2px 5px;
  background-color: white;
  z-index: 9999;
}
body .body__container .header .header__blank {
  height: 100%;
  margin-left: 0px;
}
body .body__container .header .header__blank .icon-container-icon {
  height: 100%;
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: left;
  font-size: 1.25em;
  color: gray;
}
body .body__container .header .header__blank .icon-container-icon i {
  cursor: pointer;
}
body .body__container .header .header__account {
  height: 100%;
  margin-left: 0px;
  display: flex;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body .body__container .header .header__account .account__zoom-button {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
}
body .body__container .header .header__account .account__zoom-button .button__zoom-button {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .body__container .header .header__account .account__zoom-button .button__zoom-button i {
  transform: scale(1.1, 1.1);
  color: #007bff;
}
body .body__container .header .header__account .account__user {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body .body__container .header .header__account .account__user .account__account-container {
  height: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body .body__container .header .header__account .account__user .account__account-container .user__img-container {
  height: 100%;
  display: flex;
  align-items: center;
}
body .body__container .header .header__account .account__user .account__account-container .user__img-container .img-container__img {
  height: 53%;
  vertical-align: middle;
  border-radius: 100% 100% 100% 100%;
  overflow: hidden;
}
body .body__container .header .header__account .account__user .account__account-container .user__img-container .img-container__img img {
  width: 100%;
  border-radius: 100% 100% 100% 100%;
}
body .body__container .header .header__account .account__user .account__account-container .user__img-container .img-container__account-text {
  cursor: pointer;
}
body .body__container .header .header__account .account__user .account__account-container .user__img-container .img-container__account-text i {
  transform: scale(0.8, 0.8);
}
body .body__container .header .header__account .account__user .account__account-container .user__dropdown-option {
  display: none;
  height: fit-content;
  width: 85%;
  background-color: #fff;
  box-shadow: #555 1px 1px 5px;
  z-index: 99999;
}
body .body__container .header .header__account .account__user .account__account-container .user__dropdown-option ul {
  list-style: none;
  padding-left: 10%;
}
body .body__container .header .header__account .account__user .account__account-container .user__dropdown-option ul li {
  color: #555;
  line-height: 200%;
}
body .body__container .header .header__account .account__user .account__account-container .user__dropdown-option ul li hr {
  width: 95%;
  margin: auto;
  color: white;
  margin-left: -2%;
}
body .body__container .header .header__left {
  height: 100%;
  left: 0px;
}
body .body__container .header .header__left .left__img {
  height: 100%;
  margin-left: 0px;
  padding-left: 0px !important;
  margin: auto;
}
body .body__container .header .header__left .left__img .img__imge-container {
  height: 100%;
  width: fit-content;
  margin: auto;
  display: flex;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
}
body .body__container .header .header__left .left__img .img__imge-container img {
  height: 45%;
  width: 100%;
  transform: scale(1.1, 1.1);
}
body .body__container .header .header__left .left__menu-icon-container {
  height: 100%;
}
body .body__container .body__main-container {
  height: 100%;
  background-color: #007bff;
  display: flex;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
body .body__container .body__main-container .sidebar {
  height: 100%;
  background-color: #66ff00;
}
body .body__container .body__main-container .sidebar .sidebar__menu {
  height: 100%;
  width: 100%;
}
body .body__container .body__main-container .sidebar .sidebar__menu .menu__dropdown-list {
  list-style: none;
  cursor: pointer;
}
body .body__container .body__main-container .sidebar .sidebar__menu .menu__dropdown-list li {
  background-color: inherit;
}
body .body__container .body__main-container .sidebar .sidebar__menu .menu__dropdown-list li ul {
  background-color: inherit;
  border: none;
}
body .body__container .body__main-container .sidebar .sidebar__menu .menu__dropdown-list li ul li:hover {
  background-color: inherit;
}

/*# sourceMappingURL=Index.css.map */
